:root {
  --primary-text-banner-color: #ffffff;
  --primary-title-subtitle-color: #303030;
  --secondary-text-banner-color-transparent: rgba(157, 164, 189, 0.6);
  --secondary-text-banner-color: #9da4bd;
  --primary-text-color: #555555;
  --advantages-block-color: #f7f7f7;
  --accent-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-title-subtitle-color);
  margin: 0;
}

button {
  cursor: pointer;
  min-width: 160px;
  height: 40px;

  border: 1px solid #ff6c00;
  border-radius: 25px;
}

p,
img {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px dashed orange; */
}
.before-gray::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 63px;
  height: 0.96px;
  margin-right: 20px;
  background: var(--primary-text-color);
}

.before-black::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 63px;
  height: 0.96px;
  margin-right: 20px;
  background: var(--primary-title-subtitle-color);
}

/* -------------------------------------------------------------------------HEADER------------------------------------------------------------------------- */
header .container {
  display: flex;
  align-items: center;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--advantages-block-color);
  background-color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  z-index: 1;
  margin-right: 70px;
}

.header-list {
  display: flex;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.header-tel {
  margin-right: 40px;
}

.header-thmb {
  margin-left: auto;
}
.header-list {
}

.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-item {
}

.header-link {
  color: var(--primary-text-banner-color);
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-text-banner-color);
}
.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  color: var(--primary-text-banner-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

/* -------------------------------------------------------------------------HERO------------------------------------------------------------------------- */
.hero .container {
  display: flex;
}
.hero-list-thmb {
  width: 90px;
  position: relative;
}

.hero {
}
.hero-list {
  display: flex;
  align-items: center;
  transform: rotate(-89.83deg);
  position: absolute;
  top: 75%;
  left: -102%;
}
.hero-item {
  display: block;

  top: 50%;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--primary-title-subtitle-color);
}
.hero-item:not(:last-child) {
  margin-right: 40px;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-link {
  color: var(--primary-title-subtitle-color);
}

.hero-thmb {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  flex-grow: 1;
  height: 685px;
  background-color: grey;
  padding-top: 272px;
  padding-right: 96px;
  padding-bottom: 206px;
  padding-left: 96px;
}

.hero-uptext {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-banner-color-transparent);
}
.hero-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--primary-text-banner-color);
}
.hero-downtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--secondary-text-banner-color);
}
/* -------------------------------------------------------------------------ABOUT------------------------------------------------------------------------- */

.about .container {
  display: flex;
}

.about {
  padding-top: 130px;
  padding-bottom: 130px;
}
.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-item {
}
.about-img {
}

.about-thmb {
  margin-left: 64px;
}

.about-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-title-subtitle-color);
}
.about-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-subtitle-color);
}
.about-uptext {
  margin-bottom: 20px;

  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}
.down-uptext {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
}
.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  color: var(--primary-title-subtitle-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--primary-text-banner-color);
  background-color: var(--accent-color);
}

/* -------------------------------------------------------------------------PRICES------------------------------------------------------------------------- */
.prices-thmb {
  display: flex;
}

.prices {
  background-image: url(../images/prices-bg.svg);
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #111319;
}
.prices-thmb {
  margin-bottom: 50px;
}

.prices-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-banner-color-transparent);
}

.prices-title {
  margin-bottom: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-text-banner-color);
}
.prices-list {
  width: 540px;
  height: 240px;
  padding: 30px 40px;
}
.left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.list {
}
.prices-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-banner-color);
}
.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-item::before {
  margin: 0 6px;
  content: "";
  order: 2;
  height: 1px;
  flex-grow: 1;
  background-color: var(--secondary-text-banner-color);

  background: rgba(157, 164, 189, 0.12);
}
.prices-nomination {
  order: 1;
}
.prices-price {
  order: 3;
}
.prices-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  color: var(--primary-text-banner-color);
  background-color: transparent;
  border-radius: 25px;
}

.prices-btn:hover,
.prices-btn:focus {
  color: var(--primary-text-banner-color);
  background-color: var(--accent-color);
}
/* -------------------------------------------------------------------------ADVANTAGES------------------------------------------------------------------------- */

.advantages .container {
  display: flex;
  justify-content: center;
}

.advantages-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  margin-right: 130px;
}

.advantages {
  padding-top: 130px;
  padding-bottom: 130px;
}

.advantages-list .advantages-item:nth-child(2n + 1) {
  margin-right: 30px;
}
.advantages-list .advantages-item:nth-child(2n) {
  margin-top: 30px;
}
.advantages-list {
}
.advantages-item {
  text-align: center;
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: var(--advantages-block-color);
  display: block;
}
.advantages-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-subtitle-color);
}

.advantages-number::after {
  position: absolute;

  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);

  color: #ff6c00;
}
.advantages-thmb {
  width: 500px;
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  color: var(--primary-title-subtitle-color);
}
.advantages-subtext {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-title-subtitle-color);
}
.advantages-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-title-subtitle-color);
}

.advantages-downtext {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/* -------------------------------------------------------------------------WORKING-STAFF------------------------------------------------------------------------- */

.working-staff {
  background: #f7f7f7;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 130px;
  padding-top: 130px;
}

.working-staff-subtext {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-title-subtitle-color);
}
.working-staff-title {
  margin-bottom: 44px;

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}
.working-staff-list {
  display: flex;
  flex-basis: calc(100% / 3 - 60px);
  margin-right: -30px;
  margin-top: -30px;
}

.working-staff-item {
  margin-right: 30px;
  margin-top: 30px;
  min-height: 506px;
}

.working-staff-thmb {
}
.working-social-list {
  display: flex;
  justify-content: center;
}
.list {
}
.working-social-item {
}
.working-social-item:not(:last-child) {
  margin-right: 10px;
}

.woking-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-text-banner-color);
}

.woking-social-link:hover .working-social-svg,
.woking-social-link:focus .working-social-svg {
  fill: var(--accent-color);
}
.working-social-svg {
}
.list {
}
.working-staff-img {
  margin-bottom: 30px;
}
.working-staff-name {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.02em;
}
.working-staff-position {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* -------------------------------------------------------------------------GALLERY------------------------------------------------------------------------- */

.gallery {
  padding-bottom: 130px;
  padding-top: 130px;
}
.gallery-subtext {
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery-list {
  display: flex;
  flex-basis: calc(100% / 4 - 90px);
  margin-right: -30px;
  margin-top: -30px;
}
.gallery-item {
  margin-right: 30px;
  margin-top: 30px;
}

.list {
}
/* .gallery-item:not(:last-child) {
  margin-right: 30px;
} */

.gallery-item {
}
.gallery-img {
}

/* -------------------------------------------------------------------------ENTRY&CONTACTS------------------------------------------------------------------------- */

.entry-thmb {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.entry {
  padding: 130px 40px 193px 57px;
  width: calc(50% + 15px);
  padding-top: 130px;
  background: #191c26;
}
.entry-title {
  margin-bottom: 44px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-text-banner-color);
}
.entry-form-item input {
  width: 264px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}
.entry-form-item input {
  height: 24px;
}
.entry-form {
}
.entry-form-list {
  margin-bottom: 44px;
}
.list {
}
.entry-form-thmb {
  display: flex;
}
.entry-form-item {
}
.entry-form-item textarea {
  width: 560px;
  height: 76px;

  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}
.entry-form-item:first-child {
  margin-right: 30px;
}
.entry-form-input::placeholder {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}
.entry-form-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  color: var(--primary-text-banner-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.entry-form-btn:hover,
.entry-form-btn:focus,
.entry-form-btn:hover,
.entry-form-btn:focus,
.entry-form-btn:hover,
.entry-form-btn:focus {
  color: var(--primary-text-banner-color);
  background-color: var(--accent-color);
}

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: url(../images/contact-bg.svg);
  background-color: #191c26;
}
.contacts-thmb {
  padding-left: 101px;
}

.contacts-title {
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--primary-text-banner-color);
}
.contacts-adress {
}
.contacts-list {
  margin-bottom: 70px;
}
.contacts-list li:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-item {
}
.contacts-svg {
  vertical-align: middle;
  margin-right: 16px;
  fill: transparent;
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:hover .contacts-svg,
.contacts-link:focus .contacts-svg {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts-link {
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-banner-color);
}

a[href="maito:barbershop@email.com"] {
  text-decoration-line: underline;
}

.contacts-working-time {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-text-banner-color);
}

.contacts-time {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-banner-color);
}

/* -------------------------------------------------------------------------FOOTER------------------------------------------------------------------------- */
.footer .container {
  display: flex;
}
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--secondary-text-banner-color);
}
.footer-list {
  display: flex;
  margin-left: auto;
}
.footer-list li:not(:last-child) {
  margin-right: 40px;
}
.footer-item {
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--primary-title-subtitle-color);
}
