.advantages {
  @media screen and (max-width: $breakpointBeeforeTablet) {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @media screen and (min-width: $breakpointBeeforeTablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $breakpointDesktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__wrapper {
    display: flex;
    @media screen and (max-width: $breakpointBeeforeTablet) {
      flex-direction: column-reverse;
    }
    @media screen and (min-width: $breakpointBeeforeTablet) and (max-width: $breakpointBeeforeDesktop) {
      flex-direction: column-reverse;
      padding-left: 25px;
      padding-right: 25px;
    }
    @media screen and (min-width: $breakpointDesktop) {
      justify-content: center;
    }
  }

  &__list {
    display: flex;
    max-width: 370px;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpointBeeforeTablet) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: $breakpointBeeforeTablet) and (max-width: $breakpointBeeforeDesktop) {
      margin-left: auto;
    }

    @media screen and (min-width: $breakpointDesktop) {
      margin-right: 130px;
    }
  }

  &__item {
    @media screen and (max-width: $breakpointBeeforeTell) {
      max-width: 155px;
    }
    text-align: center;
    padding: 20px 24px;
    max-width: 170px;
    height: 133px;
    background-color: var(--advantages-block-color);
    display: block;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(2n) {
      margin-top: 30px;
    }
  }

  &__number {
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    letter-spacing: 0.05em;

    color: var(--primary-title-subtitle-color);

    &::after {
      position: absolute;

      content: "+";
      font-weight: 600;
      font-size: 16px;
      line-height: calc(22 / 16);

      color: var(--accent-color);
    }
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);

    color: var(--primary-title-subtitle-color);
  }
}

.advantages-story {
  max-width: 500px;
  @media screen and (max-width: $breakpointBeeforeTablet) {
    margin-bottom: 84px;
  }
  @media screen and (min-width: $breakpointTablet) and (max-width: $breakpointBeeforeDesktop) {
    margin-bottom: 44px;
  }

  &__subtext {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--primary-title-subtitle-color);
  }

  &__title {
    margin-bottom: 20px;

    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    color: var(--primary-title-subtitle-color);
  }

  &__downtext {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    // @media screen and (max-width: $breakpointBeeforeTablet) {
    //   margin-bottom: 20px;
    // }

    // @media screen and (min-width: $breakpointDesktop) {
    //   margin-bottom: 20px;
    // }
  }
}
