.header {
  @media screen and (max-width: $breakpointBeeforeTablet) {
    display: none;
  }

  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  z-index: 1;
  margin-right: 70px;
}

.navigation {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    padding-bottom: 20px;
    padding-top: 20px;
    color: var(--primary-text-banner-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contacts-panel {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;

  &__tell {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--primary-text-banner-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__btn {
    color: var(--primary-text-banner-color);
    border: 1px solid var(--accent-color);

    &:hover,
    &:focus {
      color: var(--advantages-block-color);
      background-color: var(--accent-color);
    }
  }
}
