.prices {
  background-image: url(../images/prices-bg.svg);
  background-size: cover;
  max-width: 1280px;
  max-width: 100%;
  margin: 0 auto;

  background-color: #111319;

  @media screen and (max-width: $breakpointBeeforeTablet) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  @media screen and (min-width: $breakpointBeeforeTablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: $breakpointDesktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__wrapper {
    margin-bottom: 50px;
    @media screen and (min-width: $breakpointBeeforeTablet) and (max-width: $breakpointBeeforeDesktop) {
      padding: 30px 40px;
    }
    @media screen and (max-width: $breakpointBeeforeDesktop) {
      background: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
    }
    @media screen and (min-width: $breakpointBeeforeDesktop) {
      display: flex;
    }
  }

  &__text {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--secondary-text-banner-color-transparent);
  }

  &__title {
    margin-bottom: 44px;

    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    color: var(--primary-text-banner-color);
  }

  &__btn-wrapper {
    display: flex;
  }

  &__btn {
    margin: 0 auto;

    color: var(--primary-text-banner-color);

    &:hover,
    &:focus {
      color: var(--primary-text-banner-color);
      background-color: var(--accent-color);
    }
  }
}

.services-list {
  @media screen and (min-width: $breakpointBeeforeDesktop) {
    min-width: 585px;
    height: 240px;
    padding: 30px 40px;
  }

  &--left {
    @media screen and (max-width: $breakpointBeeforeDesktop) {
      margin-bottom: 20px;
    }
    margin-bottom: 20px;
    @media screen and (min-width: $breakpointDesktop) {
      background: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
    }
  }
  &--right {
    @media screen and (min-width: $breakpointDesktop) {
      background: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    line-height: calc(30 / 14);
    letter-spacing: 0.02em;

    color: var(--secondary-text-banner-color);
    @media screen and (min-width: $breakpointDesktop) {
      font-size: 18px;
      line-height: calc(30 / 18);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      margin: 0 6px;
      content: "";
      order: 2;
      height: 1px;
      flex-grow: 1;
      background-color: var(--secondary-text-banner-color);

      background: rgba(157, 164, 189, 0.12);
    }
  }

  &__service {
    order: 1;
    margin: 0 0;
  }

  &__price {
    order: 3;
    margin: 0 0;
  }
}
