.working-staff {
  background: #f7f7f7;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 130px;
  padding-top: 130px;

  &__subtext {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--primary-title-subtitle-color);
  }

  &__title {
    margin-bottom: 44px;

    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
  }

  &__list {
    display: flex;
    flex-basis: calc(100% / 3 - 60px);
    margin-right: -30px;
    margin-top: -30px;
  }

  &__item {
    margin-right: 30px;
    margin-top: 30px;
    min-height: 506px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    letter-spacing: 0.02em;
  }

  &__position {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: calc(19 / 14);
    letter-spacing: 0.02em;

    color: var(--accent-color);
  }
}

.working-social {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-text-banner-color);

    &:hover .working-social__svg,
    &:focus .working-social__svg {
      fill: var(--accent-color);
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
