:root {
  --primary-text-banner-color: #ffffff;
  --primary-title-subtitle-color: #303030;
  --secondary-text-banner-color-transparent: rgba(157, 164, 189, 0.6);
  --secondary-text-banner-color: #9da4bd;
  --primary-text-color: #555555;
  --advantages-block-color: #f7f7f7;
  --accent-color: #ff6c00;
}
